@page "/learnrouting"

<h3>LearnRouting</h3>

<NavLink class="btn btn-primary" href="/learnadvancedrouting?Param1=Izzat&Param2=Roslan">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Learn Routing
</NavLink>

@code {

}
